.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.job-container {
  background-color: rgb(253, 252, 252);
  width: 90%;
}

header {
  background-color: rgb(82, 150, 150);
  overflow: hidden;
  width: 100%;
  height: 100px;
}
span {
  width: 100%;
  font-size: larger;
}
.new-featured {
  background-color: rgb(6, 78, 78);
  color: white;
  border-radius: 30px;
  font-size: large;
}
#myBorder {
  border-left: 7px solid rgb(6, 122, 122);
  border-radius: 2px;
}
@media only screen and (max-width: 600px) {
  .job-container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .job-container {
    flex-direction: column;
  }
}
